<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135429514179-sqq81al2oenkpcqotfvtpdpmnm34c2ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135429514179-sqq81al2oenkpcqotfvtpdpmnm34c2ns</string>
	<key>API_KEY</key>
	<string>AIzaSyAdGu0p4XOixj0djaVhHnt35hs4dKv6m3M</string>
	<key>GCM_SENDER_ID</key>
	<string>135429514179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lehoang.lehoangcctv</string>
	<key>PROJECT_ID</key>
	<string>app-lehoang</string>
	<key>STORAGE_BUCKET</key>
	<string>app-lehoang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135429514179:ios:4ed7f66e3b2a06c2f41376</string>
</dict>
</plist>